
<% fields_for_page_object do |f| -%>
  <div>
    <%= f.label :starts, "Starts" %>
    <%= f.text_field :starts_at %>
    <%#= f.datetime_select :starts %>
  </div>
  <div>
    <%= f.label :ends_at, "Ends" %>
    <%= f.text_field :ends_at %>
    <%#= f.datetime_select :ends %>
  </div>
  <div>
    <%= f.label :time_zone %>
    <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.all %>
  </div>
<% end -%>
